html {
  body {
    margin: 0;
  }
}

:root::-webkit-scrollbar{
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@font-face {
  src: url(../fonts/Geist-Regular.woff2);
  font-family: "geist-regular"
}

.geist-regular {
  letter-spacing: 0px;
  font-family: "geist-regular";
  transition: selection 0.1s ease-in;
}

@font-face {
  src: url(../fonts/Geist-Bold.woff2);
  font-family: "geist-bold"
}

.geist-bold {
  letter-spacing: 0px;
  font-family: "geist-bold";
  transition: selection 0.1s ease-in;
}

@font-face {
  src: url(../fonts/Geist-Medium.woff2);
  font-family: "geist-medium"
}

.geist-medium {
  font-weight: normal;
  letter-spacing: 0px;
  font-family: "geist-medium";
  transition: selection 0.1s ease-in;
}

@font-face {
  src: url(../fonts/Geist-SemiBold.woff2);
  font-family: "geist-semibold"
}

.geist-semibold {
  letter-spacing: 0px;
  font-family: "geist-semibold";
  transition: selection 0.1s ease-in;
}

@font-face {
  src: url(../fonts/Geist-Light.woff2);
  font-family: "geist-light"
}

.geist-light {
  letter-spacing: 0px;
  font-family: "geist-light";
  transition: selection 0.1s ease-in;
}

@font-face {
  src: url(../fonts/GeistMono-Regular.woff2);
  font-family: "geistmono-regular"
}

.geistmono-regular {
  letter-spacing: 0px;
  font-family: "geistmono-regular";
  transition: selection 0.1s ease-in;
}

.transparent-button-white {
  display: flex;
  border: 0;
  outline: 0;
  background: inherit;
  align-items: center;
  border-radius: 7.5px;
  width: fit-content;
  height: 18px;
  padding: 20px 15px 20px 15px;
  column-gap: 10px;
  color: rgba(255, 255, 255, 1);
  transition: background 0.2s ease-in;
  span {
    font-size: 14px;
  }
}
.transparent-button-white:hover {
  background: rgba(128, 128, 128, 0.1);
}
